.cardDeteails{
    display: flex;
    margin-top: 10%;
    width: 100%;
    justify-content: space-between;
}

.emptyCartButton {
    min-width:  150px;
    margin-bottom: 5px !important;
    margin-right: 10px !important;
}

.checkoutButton {
    min-width: 20px;
    margin-bottom: 5px !important;
    margin-right: 10px !important;
}